.main-maxf {
    font-size: 33vw;
}

@media (max-width: 1024px) {
    .main-maxf {
        font-size: 31vw;
    }
}

@media (max-width: 700px) {
    .main-maxf {
        font-size: 29vw;
    }
}

@media (max-width: 500px) {
    .main-maxf {
        font-size: 27vw;
    }
}
